.single-color-group-editing, .single-color-group-not-editing {
  display: flex;
  flex-wrap: wrap;
}

.single-color-group-editing > label + label, .single-color-group-not-editing > label + label {
  margin-left: 1ex;
}

.color-group-minValue-field, .color-group-maxValue-field, .maxValue-field, .minValue-field {
  width: 60px;
}

.color-group-color-field {
  width: 120px;
}

.metric-settings-button-row {
  text-align: right;
  margin-top: 2ex;
}

.delete-metric-button {
  float: left;
}

#add-metric-button {
  margin-top: 2ex;
}
