div.chart {
  max-width: 500px;
  min-width: 200px;
  margin: 24px;
  height: 250px;
  background-color: #eee;
  overflow: hidden;
  display: block;
  position: relative;
  border: 4px solid black;
}

.chart-buttons {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
}

svg.chart {
  border: 2px solid teal;
  position: absolute;
  z-index: 0;
}
