* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.metric-entry-container {
  margin-bottom: 1em;
}

.error-message {
  margin: 16px auto;
  padding: 16px;
  text-align: center;
  vertical-align: center;
  height: 4em;
  background-color: #FAA;
  border-color: #B33;
}

.hero-wrapper {
  margin: 0px auto;
  text-align: center;
  padding: 48px;
}
